body {
    background-color: black;
    margin: 0;
}

p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#menu {
    display: none;
}

.root {
    max-width: 1920px;
    margin: 0 auto; /* Это выровняет элемент по центру по горизонтали */
    position: relative; /* Это позволит вам использовать top: 0 для позиционирования по вертикали */
    top: 0;
}

.h-video {
    width: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    z-index: 1000; /* Устанавливаем z-index, чтобы навбар был выше остального контента */
}

.menu {
    margin-left: 10px;
    margin-right: 10px;
}

.language-switcher {
    display: flex; /* Размещаем элементы внутри .language-switcher в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}

.language-border {
    display: flex; /* Размещаем элементы внутри .language-border в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    border-left: 2px solid #ffffff;
    padding-left: 20px;
}

.left-vector {
    position: absolute;
    z-index: 1000;
    margin-top: 40%;
}

.main-text {
    position: absolute;
    z-index: 1000;
    margin-top: 25%;
    margin-left: 15%;
}

.sub-text {
    position: absolute;
    z-index: 1000;
    margin-top: 42%;
    margin-left: 15%;
    display: flex; /* Размещаем элементы внутри .language-border в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}

.scroll-bar-div {
    border-radius: 10px;
    border: 1px solid #63605e;
    width: 466px;
    height: 240px;
    backdrop-filter: blur(10px); /* Устанавливаем уровень размытия в пикселях */
    background-color: rgba(51, 51, 51, 0.7); /* Фон с прозрачностью, чтобы сделать размытие более заметным */
}

.scroll-bar-padding {
    padding-left: 24px;
    padding-top: 12px;
}

.scroll-bar-center-text {
    width: 322px;
    height: 82px;
    margin-left: 35px;
}

.arrows {
    display: flex; /* Размещаем элементы внутри в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    justify-content: center;
    margin-top: 2%;
}

.arrow-button {
    padding-left: 10px;
    margin-right: 100px;
    cursor: pointer;
}

.video-container {
    position: relative;
}

.video-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%; /* Высота затемнения снизу (по вашему желанию) */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Градиентное затемнение */
    pointer-events: none; /* Псевдоэлемент не должен взаимодействовать с событиями мыши */
}

.div2 {
    margin-top: 25%;
    margin-left: 15%;
    margin-right: 15%;
}

.div3 {
    display: flex; /* Размещаем элементы внутри в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    margin-left: 15%;
    margin-right: 15%;
}

.div4 {
    margin-top: 10%;
}

.div4-padding {
    display: flex;
    flex-direction: column;
}

.div4-horizontal {
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
}

.card {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    border: 1px solid #63605e;
    width: 1399px;
    height: 971px;
    background-color: rgb(25, 25, 25);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.sector {
    background-color: transparent;
    border: 1px solid #63605e;
}

/* Стили для каждого сектора (настройте размеры и стили по вашему желанию) */
#sector1 { grid-row: 1 / span 1; grid-column: 1 / span 1; border-top-left-radius: 10px; }
#sector2 { grid-row: 1 / span 1; grid-column: 2 / span 1; }
#sector3 { grid-row: 1 / span 1; grid-column: 3 / span 1; border-top-right-radius: 10px; }
#sector4 { grid-row: 2 / span 1; grid-column: 1 / span 1; height: 480px;}
#sector5-6 {
    grid-row: 2 / span 2;
    grid-column: 2 / span 1;
    border: 0;
    height: 480px;
}
#sector7 { grid-row: 3 / span 1; grid-column: 1 / span 1; border-bottom-left-radius: 10px; }
#sector8 { grid-row: 3 / span 1; grid-column: 2 / span 1; }
#sector9 { grid-row: 3 / span 1; grid-column: 3 / span 1; border-bottom-right-radius: 10px; }

.brief-form-button {
    background-color: #1400FF;
    padding: 11px 15px 11px 15px;
    margin: 13%;
    border: 0;
    cursor: pointer;
}

.brief-icons {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.social-icons {
    display: flex; /* Размещаем элементы внутри в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}

.div3-footer {
    display: flex; /* Размещаем элементы внутри в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    margin-left: 15%;
    margin-right: 15%;
}
.div3-footer-mobile {
    display: none;
}

.icon-border {
    background-color: transparent;
    border: 1px solid #63605e;
    padding: 15px;
    margin-left: 20px;
}

.icon-border-right {
    background-color: transparent;
    border: 1px solid #63605e;
    padding: 17px;
    margin-left: 20px;
}

.right-icon {

}

/* Стили для аккордеона */
.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion {
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
}

.accordion-header {
    padding: 10px;
    display: flex; /* Размещаем элементы внутри .language-switcher в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}

.accordion-toggle {
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-left: auto;
}

.accordion-content {
    display: none;
    background-color: black;
}

.content-inner {
    padding: 10px;
    white-space: pre-wrap;
}

.active {
    display: block;
}


.tx-white {
    color: white;
}

.icon {
    transition: transform 0.3s ease; /* Добавляем анимацию для свойства transform */
}
.icon.rotate {
    transform: rotate(45deg); /* Поворачиваем на 45 градусов */
}

.word-wrap {
    white-space: pre-wrap !important;
}

.bottom-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-top: 2%;
}

.bottom-vector-footer {

}

.footer-mobile {
    display: none;
}

.bottom-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.bottom-links-padding {
    padding-top: 10px;
}

.bottom-lang {
    display: flex;
    flex-direction: column;
}


.video-container2 {
    position: relative;
    display: inline-block;
}

.play-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg); /* Поворачиваем треугольник на 270 градусов (вправо) */
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid blue;
}

.play-button:focus {
    outline: none;
}

.blurry-video {
    width: 932px; /* Ширина в пикселях */
    height: 480px; /* Высота в пикселях */
    object-fit: cover; /* Заполняет контейнер, сохраняя пропорции и обрезая, если необходимо */
}



.page3-top {
    width: 100%;
}

.page3-top-label {
    text-align: center;
    width: 900px;
    height: auto;
    position: absolute;
    top: 182px;
    left: 428px;
    white-space: pre-wrap;
}

.page3-top-img {
    width: 400px;
    height: 100px;
    margin-left: 39%;
    margin-top: 45%;
    position: absolute;
}

.page3-div2 {
    background-color: #FFED8B;
    height: 1194px;
    width: 100%;
    top: 99%;
    display: flex;
    flex-direction: row;
}




.page3-div3 {

}

.pg3-d3-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.pg3-d3-h1 {
    white-space: nowrap;
}

.pg3-d3-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pg3-d3-left {
    width: 926px;
    height: 108px;
    text-align: left;
}

.pg3-d3-left-tx {
    opacity: 65%;
    padding-top: 0;
    color: white;
}


.pg3-d3-right {
    margin-left: 10%;
    margin-top: 33px;
}

.inline-block {
    display: flex;
    flex-direction: row;
}

.pg3-d3-wrapper2 {
    margin-top: 10%;
}

.inline-block-img {
    display: flex;
    flex-direction: row;
}

.right-img {
    padding-left: 20px;
}

.px30 {
    font-size: 30px;
}

.px25 {
    opacity: 65%;

}

.brief-tx {
    opacity: 70%;
    width: 800px;
}

.case {

}

.right-desc {
    margin-left: 15%
}

.inline-block-desc {
    display: flex;
    flex-direction: row;
}

.pg3-footer {
    margin-top: 20%;
}

.pg3-footer-d1 {
    margin-left: 10%;
    margin-right: 10%;
}

.pg3-footer-d2 {
    display: flex; /* Размещаем элементы внутри в одну линию */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    height: 200px;
}

.bottom-vector {
    margin-left: 15%;
}

.header-bottom-vector {
    padding-left: 15%;
}

.frame1 {
    width: 1170px; height: 729px; background-size: cover;
}

.frame2 {
    width: 753px; height: 729px; background-size: cover;
}

.frame3 {
    width: 750px; height: 729px; background-size: cover;
}

.frame4 {
    width: 1170px; height: 729px; background-size: cover;
}

.frame1-p {
    font-size: 35px;
    width: 706px;
    height: 145px;
    padding-top: 50%;
    padding-left: 15%;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.frame2-p {
    color: black;
    font-weight: 550;
    font-size: 35px;
    width: 446px;
    height: 135px;
    padding-top: 8%;
    padding-left: 15%;
    font-family: "Helvetica Neue", sans-serif;
}

.frame3-p {
    font-size: 35px;
    color: black;
    width: 388px;
    height: 90px;
    padding-top: 80%;
    padding-left: 10%;
    font-weight: 550;
    font-family: "Helvetica Neue", sans-serif;
}

.frame4-p {
    font-size: 35px;
    width: 899px;
    height: 110px;
    padding-top: 50%;
    padding-left: 10%;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.frame5 {
    width: 1170px;
    height: 729px;
    background-size: cover;
}

.frame5-p {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 35px;
    width: 714px;
    height: 94px;
    padding-top: 5%;
    padding-left: 10%;
}

.frame6 {
    width: 753px; height: 729px; background-size: cover;
}

.frame6-p {
    font-size: 35px;
    width: 459px;
    height: 90px;
    padding-top: 75%;
    padding-left: 15%;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.frame7 {
    width: 750px; height: 729px; background-size: cover;
}

.frame7-p {
    font-size: 35px;
    width: 580px;
    height: 90px;
    padding-top: 5%;
    padding-left: 10%;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.frame8 {
    width: 1170px;
    height: 729px;
    background-size: cover;
}

.frame8-p {
    color: #F19100;
    font-size: 35px;
    width: 806px;
    height: 94px;
    padding-top: 5%;
    padding-left: 10%;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.bottom-vector2 {
    padding-left: 15%
}

.font-helvetica-neue-25px-flex {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 25px;
    white-space: nowrap;
}

#adaptive-image7 {
    order: 1; /* Порядок для adaptive-image7 на больших экранах */
}

#adaptive-image8 {
    order: 2; /* Порядок для adaptive-image8 на больших экранах */
}

.motion-vector {
    padding-left: 15%;
}

.large-scale {
    display: inherit;
}

.small-scale {
    display: none;
}

.left-video {
    max-height: 453px;
}

.right-video {
    width: 805px;
}

.only-large-visible {

}

.only-small-visible {
    display: none;
}

.footer-vector {

}

.font-inter-flex {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.bottom-icon {
    display: block;
}

.vpluse-text {
    font-size: 65px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
}

#adaptive-image-mobile {
    display: none;
}
#adaptive-image {
    display: block;
}

@media (min-width: 769px) {
    .navbar-flex {
        display: none;
    }
}