.video-br {

}

.h-video-brief {
    width: 1063px;
    height: 1778px;
    object-fit: cover;
    position: sticky;
}


.text-head {
    width: 100%;
    height: 100%;
    padding-bottom: 101px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 84px;
    display: inline-flex

}


.column-text-head {
    margin-left: 88px;
}


.new-pr {
    margin-left: 88px;
    margin-top: 70px;
}



.scroll-bar-padding-br {
    padding-left: 24px;
    padding-top: 12px;
}

.scroll-bar-center-text-br {
    width: 322px;
    height: 82px;
    margin-top: 3px;

}

.sector-br {
    background-color: transparent;
    border: 1px solid #63605e;
    width: 127px;
    height: 53px;
    border-radius: 10px;

}

.card-br {
    margin-left: 88px;
    border-radius: 10px;
    border: 1px solid #63605e;
    width: 127px;
    height: 53px;
    background: rgba(243, 108, 28, 0.15);
    border: 1px rgba(243.31, 108.12, 28.39, 0.50) solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.toggle-input-br {
    display: none;

}

.toggle-label-br {

    border: 1px solid #63605e;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

.toggle-input-br:checked + .toggle-label-br {
    background: rgba(243, 108, 28, 0.15);
    border: 1px rgba(243.31, 108.12, 28.39, 0.50) solid;
}


.main-br {
    display: flex;
    margin-left: 88px;
    margin-bottom: 15px;
    justify-content: flex-start;
}


.toggle-label2-br {
    margin-left: 10px;
    border: 1px solid #63605e;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

.toggle-input-br:checked + .toggle-label2-br {
    background: rgba(243, 108, 28, 0.15);
    border: 1px rgba(243.31, 108.12, 28.39, 0.50) solid;
}


.input-style {
    width: 400px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.10);
    color: white;
    border-radius: 10px;
    margin-left: 48px;
}

.main-brief {
    width: 100%; height: 1778px; display: none;
}

@media (max-width: 768px) {
    .main-brief {
    width: 100%; height: auto; display: flex;
}
    .h-video-brief {
    display: none;
}
}


.zakaz-form-button {
    margin-bottom: 50px;
    background: #1400FF;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    width: 268px;
    height: 76px;
    margin-left: 30px;
    cursor: pointer;
}

.left-fixed-div {
    width: 960px; height: auto
}